@tailwind base;

@tailwind components;

:root {
  --link-transition: 300ms ease-in;
  font-size: 16px;
  font-family: 'Avenir Next', sans-serif;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('./assets/fonts/AvenirNext-Medium.woff2') format('woff2'),
    url('./assets/fonts/AvenirNext-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('./assets/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
    url('./assets/fonts/AvenirNext-DemiBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.MuiButton-root {
  text-transform: unset !important;
  font-size: 1rem;
}

@tailwind utilities;
