@tailwind base;

@tailwind components;

:root {
  --link-transition: 300ms ease-in;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 1200px;
}

@tailwind utilities;
