@tailwind base;

@tailwind components;

:root {
  --link-transition: 300ms ease-in;
  font-size: 16px;
  font-family: 'Gotham', 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Book.woff2') format('woff2'),
    url('./fonts/Gotham-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Bold.woff2') format('woff2'),
    url('./fonts/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('./fonts/GothamMedium.woff2') format('woff2'),
    url('./fonts/GothamMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 1140px;
}

@tailwind utilities;
